body {
    background-color: Black;
    color: white;
    font-family: "Sergoe UI", Veranda, sans-serif;
}

h1 {
    color: white;
    font-size: 100px;
    text-align: center;
    background-image: url("img/Records.jpg");
}

.sub {
    text-align: center;
}

#sub1 {
    background-color: #ef8354;
}

#sub2 {
    background-color: #0e7c7b;
}

#sub3 {
    background-color: #9c538b;
}

.img {
    width: 500px;
}

p {
    font-size: 16px;
}

span {
    font-weight: bold;
}

footer {
    color: white;
    text-align: center;
}

a:link {
    color: #ef8354;
}

a:hover {
    color: #9c528b;
}
