/* Write your CSS here - remember to add Id's or classes to the HTML file */
body {
    background-color: Black;
    color: white;
}

h1 {
    font-family: "Sergoe UI, Veranda, sans-serif";
    color: white;
    font-size: 100px;
    text-align: center;
    outline-color: black;
    background-image: url("img/Records.jpg");
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.sub {
    font-family: "Segoe UI, Verdana, sans-serif";
    text-align: center;
}

#sub1 {
    background-color: #ef8354;
}

#sub2 {
    background-color: #0e7c7b;
}

#sub3 {
    background-color: #9c538b;
}

.img {
    width: 500px;
}

p {
    font-family: "Segoe UI, Verdana, sans-serif";
    font-size: 16px;
}

span {
    font-weight: bold;
}

footer {
    color: white;
    text-align: center;
}

a:link {
    color: #ef8354;
}

a:hover {
    color: #9c528b;
}